<% if comment.body.present? %>
	<div class="comment-style clearfix">
		 <%= link_to '', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' }, class: 'fa fa-times icon-delete'%>

		<div>		  
		  <p><strong><%= comment.commenter%></strong>
		  <small><%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></small></p>
		</div>
		<div>		  
		  <%= comment.body %>
		</div>
	</div>
<% end %>
