<div class="border-area">	
	<div>
	  <strong>Commenter:</strong>
	  <%= comment.commenter %>
	</div>
	 
	<div>
	  <strong>Comment:</strong>
	  <%= comment.body %>
	</div>
	<div class="icon-delete">
	  <%= link_to '', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' }, class: 'fa fa-times'%>
	</div>
</div>
