<div class="container">
  <div class="background-style">
  	<div class="text-center">
		  <h3 class="text-info"><%= @article.title %></h3>
  	</div>
  	<div>
  		<%= @article.text %>
	  </div>
 	  <div class="text-center">
		  <h4 class="text-info">Comments</h4>
	  </div>
	 <div>
		<%= render @article.comments %>
 	 </div>
	 <h4 class="text-info text-center">Add a comment:</h4>
	 <%= render 'comments/form' %>   
</div>
