// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text{
  width: 100%;
  overflow: hidden;
  text-overflow: clip;
  height: 59px;
}
.text-title{
  width: 150px;
   word-wrap: break-word;
}
.form-btn{
	padding-top: 20px;
}