  <% @categories.each do |category| %>
    <li class="list-group-item">
      <%= link_to "#{category.description}", edit_category_path(category) %>
    </li>            
  <%end%>





               


  