<div class="container">
  <div class="background-style">
    <div class="text-center">
      <h1 class="text-info">Категории отправлений</h1>
    </div>
    <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class='text-center'>Категория</th>
          <th class='text-center'>Описание</th>
          <th class='text-center'>Вес</th>
          <th class='text-center'>Выбор категории</th>          
        </tr>
      </thead>
      <tbody>  
          <% @categories.each do |category| %>

          <tr>
            <td>
              <p class="text-center"><%= @category.name %></p>
            </td>
            <td>
              <p class="text-center"><%= @category.describe %></p>
            </td>
            <td>
              <p class="text-center"> <%= @category.describe_weightt%> </p>
            </td>
            <td>
              <p class="text-center"><input type="checkbox"/></p>
            </td>            
          </tr>

          <% end %>

      </tbody>
    </table>
    </div>
    <div class="text-center">
      <nav>
        <div class="btn-group">
          <button class="btn btn-success">Сохранить</button>
        </div>
      </nav>
    </div>
 </div>
</div>